$basic-dark-blue: #293449;
$basic-darker-blue: #161d29;
$basic-darkest-blue: #1d2739;
$basic-darkestofall-blue: #212a3a;
$basic-light-blue: #32425c;
$basic-lightest-blue: #3bbce3;
$basic-blue: #3d546f;
$basic-red: #ee3643;
$basic-dark-red: #ba2732;
$basic-darker-red: #ca2c37;
$basic-white: #fff;
$basic-black: #000;
$basic-green: #63a63e;
$basic-light-green: #5fbb2d;
$basic-lightest-green: #8ed78f;
$basic-dark-green: #518534;
$basic-neutral-gray: #a9a9a9;
$basic-gray: #f1f5f7;
$basic-light-gray: #c5c5c5;
$basic-lightest-gray: #a9a9a9;
$basic-lighter-gray: #f9f5f0;
$basic-dark-gray: #f3f7f9;
$basic-darker-gray: #ababab;
$basic-yellow: #ffbf47;
$basic-dark-yellow: #ffd180;
$basic-pink: #dc91d8;
$basic-brown: #f7f3ec;

// font vars

$ptsans: "PT Sans", "Arial", sans-serif;
$cuprum: "Cuprum", "Arial", sans-serif;
